<div class="section">
  <button (click)="close()">close</button>
  <div class="group">
    <div class="product" *ngFor="let slot of section?.slots">
      <h3>{{ slot.name }}</h3>
      <span>{{ slot.id }}</span>
      <p>price: {{ slot.price | currency }}</p>
      <p>quantity: {{ slot.quantity }}</p>
      <input
        type="number"
        #quantity
        [max]="slot.quantity"
        [min]="1"
        [value]="1"
      />
      <button (click)="take(slot, quantity)">take</button>
      <button (click)="putBack(slot)">put back</button>
    </div>
  </div>
  <div class="taken-products" *ngIf="this.products.length">
    <h3>taken products</h3>

    <div class="group">
      <div class="product" *ngFor="let product of products">
        <h3>{{ product.name }}</h3>
        <span>{{ product.id }}</span>
        <p>price: {{ product.price | currency }}</p>
        <p>quantity: {{ product.quantity }}</p>
      </div>
    </div>
  </div>
</div>
